@font-face {
    font-family: 'genshin';
    src: url('/fonts/genshin.woff2') format('woff2'), url('/fonts/genshin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.genshin-text {
    font-family: genshin;
    font-weight: 375;
}

.fira {
    font-family: 'Fira Code', monospace;
}

.quote {
    font-family: 'Patrick Hand', cursive;
    white-space: normal;
}
