@font-face {
    font-family: 'genshin';
    src: url('/genshin.woff2') format('woff2'),
         url('/genshin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.genshin-text {
    font-family: genshin, monospace;
    font-weight: 375;
}

.fira {
    font-family: 'Fira Code', monospace;
}
